body {

  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {

  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

section {

  margin-bottom: 30px;
}

input,
select,
button {

  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {

  margin-top: 20px;
  cursor: pointer;
}
